<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>SPiKeyboard.InputHistoryTableViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>历史输入/自定义候选词</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Key</key>
			<string>kInputHistory</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>自然码</string>
			<key>Key</key>
			<string>kScheme</string>
			<key>Title</key>
			<string>双拼方案</string>
			<key>Titles</key>
			<array>
				<string>自然码</string>
				<string>小鹤双拼</string>
				<string>微软拼音2003</string>
				<string>拼音加加</string>
				<string>智能ABC</string>
				<string>紫光拼音</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>自然码</string>
				<string>小鹤双拼</string>
				<string>微软拼音2003</string>
				<string>拼音加加</string>
				<string>智能ABC</string>
				<string>紫光拼音</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>开启该选项使拼音显示在候选词上方（更改后请重新打开键盘）</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>kShowTypingCellInExtraLine</string>
			<key>Title</key>
			<string>独立拼音显示</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>连按两下空格键插入句号。</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>kPeriodShortcut</string>
			<key>Title</key>
			<string>句号快捷键</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>SPi Settings</string>
</dict>
</plist>
